html, 
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #181B27;
}

ul, 
li {
	list-style: none;
}

.bars {
	background-color: black;
	width: 220px;
	height: 66px;
	position: fixed;
	right: 0;
	top: 60px;
	z-index: 999;
	color: white;
}

.menu-toggle {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 13px;
	display: block;
	position: relative;
	cursor: pointer;
}

.menu-toggle span {
	display: block;
	background-color: #FF0077;
	width: 24px;
	height: 3px;
	position: absolute;
	right: 8px;
	top: 50%;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.menu-toggle span::before, .menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #FF0077;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}
.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

.menu-toggle.open span {
	background-color: rgba(255, 0, 119, 0);
}

.menu-toggle.open span::before, .menu-toggle.open span::after {
	background-color: #ff0077;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}
.menu-toggle.open span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-toggle.open span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.bars h3 {
	float: left;
	padding: 2px 15px;
}

.bar-header {
	height: 66px;
	overflow: hidden;
}
.music {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin: 12px 10px;
	position: relative;
	cursor: pointer;
}

.music-bg {
	background: url(../images/nn.jpg) no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	z-index: 100;
	display: block;
	border-radius: 100%;
	animation:runs 15s infinite linear;
	-o-animation:runs 15s infinite linear;
	-webkit-animation:runs 15s infinite linear;
	-moz-animation:runs 15s infinite linear;
	-ms-animation:runs 15s infinite linear;
}

.switch {
	width: 40px;
	height: 40px;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 222;
	border-radius: 50%;
	transition: background .3s ease-in;
	-o-transition: background .3s ease-in;
	-webkit-transition: background .3s ease-in;
	-moz-transition: background .3s ease-in;
	-ms-transition: background .3s ease-in;
	cursor: pointer;

}

.switch:hover {
	background: #f2dfdf;
	opacity: .7;
}


.stop:before, .stop:after {
	content:'';
	height:20px;
	width:4px;
	display:block;
	background:#333;
	position:absolute;
	top:10px;
	left:14px;
}

.stop:after {
	left:22px;
}


.start:before {
	content:'';
	height:0;
	width:0;
	display:block;
	border:10px transparent solid;
	border-right-width:0;
	border-left-color:#333;
	position:absolute;
	top:10px;
	left:16px;
}

.switch span {
	display: none;
}






@keyframes runs
	{
		0%{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);
		-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
		-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
	}
@-webkit-keyframes runs
{
	0%{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);
	-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
@-o-keyframes runs
{
	0%{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);
	-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
@-moz-keyframes runs
{
	0%{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);
	-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}
@-ms-keyframes runs
{
	0%{-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);
	-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}

.nav {
	background-color: black;
	clear: both;
	padding: 24px 30px 42px;
	display: none;
}

.nav li {
	padding: 15px 0;
	line-height: 16px;
	cursor: pointer;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav li.active {
	color: #FF0077;
}

.nav li:hover {
	color: #FF0077;
	padding-left: 1rem;
}

@-webkit-keyframes anim {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
} 

@-moz-keyframes anim {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}

@-o-keyframes anim {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
} 

@keyframes anim {
	0% {
		opacity: 0; 
	}
	50% {
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	} 
}

.slider-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-animation: anim 1s forwards;
	-moz-animation: anim 1s forwards;
	-o-animation: anim 1s forwards;
	animation: anim 1s forwards;
}

.slider {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 2;
	opacity: .99;
}

.slider .item {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 3s cubic-bezier(0.5, 0, 0, 0.99);
	-moz-transition: 3s cubic-bezier(0.5, 0, 0, 0.99);
	-o-transition: 3s cubic-bezier(0.5, 0, 0, 0.99);
	transition: 3s cubic-bezier(0.5, 0, 0, 0.99);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	background:#000; 
}

.slider .item.a {
	background: url("../images/banner.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform-origin: center center -50vh;
	-moz-transform-origin: center center -50vh;
	-ms-transform-origin: center center -50vh;
	-o-transform-origin: center center -50vh;
	transform-origin: center center -50vh; 
}

.slider .item.b {
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform-origin: center center -50vh;
	-moz-transform-origin: center center -50vh;
	-ms-transform-origin: center center -50vh;
	-o-transform-origin: center center -50vh;
	transform-origin: center center -50vh; 
}

.slider .item.c {
	background-color: green;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform-origin: center center -50vh;
	-moz-transform-origin: center center -50vh;
	-ms-transform-origin: center center -50vh;
	-o-transform-origin: center center -50vh;
	transform-origin: center center -50vh;
}

.slider .item.d {
	background-color: gray;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transform-origin: center center -50vh;
	-moz-transform-origin: center center -50vh;
	-ms-transform-origin: center center -50vh;
	-o-transform-origin: center center -50vh;
	transform-origin: center center -50vh;
}

@media (max-width: 768px) {
	.slider .item {
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
		perspective: 600px; 
	}  
} 

.slider{
	overflow:hidden; 
}

.slider .item{
	overflow:hidden;
	overflow-y: scroll; 
	width: 100%;
	margin: 0 auto;  
}

.slider .item::-webkit-scrollbar {
    width: 6px;
}

.slider .item::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.48); 
}

.slider1 .item.a {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	z-index: 99; 
}

.slider1 .item.b {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg); 
	z-index: 2;
}

.slider1 .item.c {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg); 
	z-index: 2;
}

.slider1 .item.d {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-260deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-260deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-260deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-260deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-260deg); 
	z-index: 2;
}

.slider2 .item.a {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg); 
	z-index: 2; 
}

.slider2 .item.b {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	z-index: 99; 
}

.slider2 .item.c {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg); 
	z-index: 2; 
}

.slider2 .item.d {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-180deg); 
	z-index: 2; 
}

.slider3 .item.a {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg); 
	z-index: 2; 
}

.slider3 .item.b {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg); 
	z-index: 2; 
}

.slider3 .item.c {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	z-index: 99; 
}

.slider3 .item.d {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(-90deg); 
	z-index: 2; 
}

.slider4 .item.a {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(260deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(260deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(260deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(260deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(260deg); 
	z-index: 2; 
}

.slider4 .item.b {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(180deg); 
	z-index: 2; 
}

.slider4 .item.c {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(90deg); 
	z-index: 2; 
}

.slider4 .item.d {
	-webkit-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-moz-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-ms-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	-o-transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	transform: perspective(100em) translate3d(0, 0, -50vh) rotateX(0deg);
	z-index: 99; 
}